@import 'src/assets/styles/variables';

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	width: 100%;
	height: 100%;
	max-width: 560px;

	padding: 25px 25px 18px 25px;
	margin: 0 auto;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&.otherPage {
		height: 280px;
		border-radius: 0 0 20px 20px;
		box-shadow: $bx-accent;

		@media (max-width: $mobile) {
			height: 260px !important;
		}
	}
}

.heading {
	text-transform: uppercase;
	color: $white;
	font-size: 30px;
	font-weight: bold;
	@media (max-width: $mobile) {
		font-size: 24px;
	}
}
